
.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}

.App-header {
  background-color: darkgreen;
  height: 120px;
  padding: 10px 0px 40px 20px;
  color: #eee;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
  display: block;
}
.header-text{
  float: left
}
.buttons{
  float:right;
}
.link{
  text-decoration: none;
}
h2{
  margin-top: 10px;
}
h2 a, h2 a:visited{
  color: #eee;
  font-size: 3.7rem;
  text-decoration: none;
  text-transform: uppercase; 
}
h2 a:hover {
  text-decoration: none;
}
h4{
  letter-spacing: 2px;
}

.menu{
  display: inline-block;
  float: right;
  margin-right: 10px;
  list-style: none;
  margin: 0;
}
.menu-link{  
    display: inline-block;
    border: 1px solid darkgreen;
    background-color: white;
    margin: 10px 10px;
    padding: 8px 15px;
    border-radius: .3em;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: darkgreen;
}
.menu-link:hover{
  background-color: darkgreen;
  color: white;
  border: 1px solid #eee;
}
.menu-link .link{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}
.menu-link .link:hover{
   color: inherit;
}
.greeting{
  color: white;
  font-family: 'Work Sans', sans-serif;
  float: right;
  display: inline-block;
  clear:right;
  padding: 10px;
  font-size: 18px;
}


.red {
  color: red;
}


.child{
  text-align: left;
  width: 90%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.new-post{
  display: block;
  clear: both;
  margin-left: 10px;
}
.new-post a{
  text-decoration: none;
  color: white;
}



.button-darkgreen{
  border: 1px solid darkgreen;
  background-color: white;
  margin: 20px 10px;
  padding: 8px 15px;
  border-radius: .3em;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: darkgreen;
}
.button-darkgreen:hover{
  background-color: darkgreen;
  color: white;
  border: 1px solid #eee;
}
.button-darkgreen .link{
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}