body{
  background-color: #eee;
  font-family: 'Work Sans', sans-serif;
}
.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}

.App-header {
  background-color: darkgreen;
  height: 120px;
  padding: 10px 0px 40px 20px;
  color: #eee;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
  display: block;
}
.header-text{
  float: left;
}
.buttons{
  float:right;
  margin-right: 30px;
}
.link{
  text-decoration: none;
  color: inherit;
}
.link:hover{
  text-decoration: none;
  color: inherit;
}
h2{
  margin-top: 10px;
}
h2 a, h2 a:visited{
  color: #eee;
  font-size: 3.7rem;
  text-decoration: none !important;
  text-transform: uppercase; 
}
h2 a:hover {
  text-decoration: none;
}
h4{
  letter-spacing: 2px;
}

.menu{
  display: inline-block;
  float: right;
  margin-right: 10px;
  list-style: none;
  margin: 0;
}
.menu-link{  
    display: inline-block;
    border: 1px solid darkgreen;
    background-color: white;
    margin: 10px 10px;
    padding: 5px 15px;
    border-radius: .3em;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: darkgreen;
}
.menu-link:hover{
  background-color: darkgreen;
  color: white;
  border: 1px solid #eee;
}
.menu-link .link{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}
.menu-link .link:hover{
   color: inherit;
}
.greeting{
  color: white;
  font-family: 'Work Sans', sans-serif;
  float: right;
  display: inline-block;
  clear:right;
  padding: 10px;
  font-size: 18px;
  margin-right: 30px;
}

.child{
  text-align: left;
  width: 90%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.new-post a{
  text-decoration: none;
  color: white;
}

/********** Profile ********/

.profile-container{
  width: 50%;
  margin: 0 auto;
  font-size: 2.5rem;
  line-height: 5rem;
}
 .profile-container .button-darkgreen {
  line-height: 2rem;

 }
 .profile-container h1{
  padding: 15px 0;
 }

.profile-container input{
  line-height: 1rem;
}
.profile-container label{
  padding-right: 20px;
}

/***********POST*********/

.post-wrapper{
  margin: 20px 0 10px 10px;
}
.post-wrapper h2{
  font-size: 3.3rem;
  font-weight: bold;
  padding-left: 0px;
}
.post-title{
  font-size: 2rem;
  padding: 10px 0;
}

.codemirror-wrapper{
  padding: 0;
  border: 1px solid #bbb; 
  font-size: 14px;
}

.tags{
  display: inline-block;
  background-color: white;
  border: 1px solid #E0D7D7;
  border-radius: 5px;
  padding: 0px 5px 2px;
  margin: 10px 5px 5px 0;
  font-size: 1.5rem;
  cursor:pointer; cursor:hand;
}
.tags:hover {
  background-color: darkgreen;
  color: white;
}

.CodeMirror {
  height: auto !important;
  max-height: 800px;
}

.new-post-form{
  clear:both;
  margin-top: 40px;
  font-size: 2rem;
  width: 95%;
} 
.form-item {
  display: block;
  margin-bottom: 30px;
}
.form-container label {
  margin-bottom: 20px;
  padding-right: 10px;
  vertical-align: top;
  max-width: 15%;
}
.form-container input, .form-container .input {
  width: 85%;
  float: right;
  
}

.form-container .input {
  height: 100px;
  margin-bottom: 10px;
}


.comment {
   border: 1px solid #E0D7D7;
  border-radius: .3em;
  background-color: #f7f7f7;
  border-radius: 5px;
  list-style: none;
  margin: 15px 0;
  font-size: 18px;
  padding: 0 0 10px 0;
}

.comment-header {
  margin-bottom: 10px;
  border-bottom: 1px solid #E0D7D7;
  background: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 15px;
}
.comment .link {
  padding-right: 0;

}
.comment-date {
  float:right;
}
.comment-text {
  padding: 15px;
  overflow-wrap: all;
}
.react-selectize {
  display: inline-block;
  float:right;
}
.react-selectize.root-node {
  width: 85% !important;
}
.inline-comment {
 background:#e3ffe3;
 width:100%;
 height:auto;
 font-size: 1.5rem;
 color: #333;
}

.inline-comment-text{
  padding: 10px;
  min-height: 150px;
  background:#D0F1F0;
}
.inline-comment-text-display{
  padding: 10px;

}
.inline-comment-header {
  padding: 5px 10px;
  border-bottom: 1px solid white;
  color: #333;
  background-color: #ded9d9;
}
.inline-comment .author{
  font-weight: bold;
  padding-left: 5px;
}
.inline-comment .lines{
  padding-left: 2px;
  color: #000;
}
.selection-background {
  background-color: #D0F1F0;
  padding: 2px 0;
}

/******** OOCSS **********/
.button-darkgreen{
  border: 1px solid darkgreen;
  background-color: white;
  padding: 8px 15px 10px;
  border-radius: .3em;
  font-family: 'Work Sans', sans-serif;
  color: darkgreen;
  font-size: 1.8rem;
  text-decoration: none !important;
}
.button-darkgreen-small{
  border: 1px solid darkgreen;
  background-color: white;
  padding: 8px 10px;
  border-radius: .3em;
  font-family: 'Work Sans', sans-serif;
  color: darkgreen;
  font-size: 1.5rem;
  text-decoration: none !important;
}
.button-darkgreen:hover, .button-darkgreen-small:hover{
  background-color: darkgreen;
  color: white;
  border: 1px solid #eee;
}
.button-darkgreen .link{
    
    text-decoration: none;
    color: inherit;
}
.mrgTop0{
  margin-top: 0px !important;
}
.mrgTop10{
  margin-top: 10px
}
.mrgTop12{
  margin-top: 20px
}
.mrgBtm10{
  margin-bottom: 10px
}
.mrgBtm20{
  margin-bottom: 20px
}
.mrgLeft10{
  margin-left: 10px;
}
.mrgRight10{
  margin-right: 10px;
}
.red{
  color: #c7254e;
}
.inline-blk{
  display: inline-block;
}
.font2rem{
  font-size: 2rem;
}
.font18rem{
  font-size: 1.8rem !important;
}
.pull-right {
  float:right;
}
.pull-left {
  float:left;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
