.main-title{
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 15px 0 20px 0;
}	
ul{
	padding: 0;
}
.dashboard .text {
	font-size: 15px;
	padding-bottom: 10px;
	
}
.dashboard .post{
	display: block;
	width: 100%;
	border: 1px solid #E0D7D7;
	border-radius: .3em;
	background-color: #f7f7f7;
	margin-bottom: 10px;
	padding: 10px 0 0 20px;
	font-size: 15px;
}
.dashboard .post-title{
	color: #c7254e;
	font-size: 2rem;
	margin-left: 3px;
}
.dashboard .post-title:hover{
	color: #8E2943;
	font-size: 2rem;
	margin-left: 3px;
	text-decoration: none;
}
.new-post{
  display: block;
  clear: both;
  margin-left: 10px;
}